@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container mt-4">
    <div class="row g-4">
        <h2 class="mb-3">Dashboard</h2>
        <div class="col-md-6">
            <div class="card shadow-sm dashboard-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Daily Patient Records</h5>
                    <div class="chart-container flex-grow-1">
                        <canvas id="dailyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow-sm dashboard-card">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Drug Distribution</h5>
                    <div class="chart-container flex-grow-1">
                        <canvas id="drugChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        var dailyRecords = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.DailyRecords));
        var drugDistribution = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.DrugDistribution));
    </script>
    <script src="~/Content/JS/DashboardChart.js"></script>
}
